body {
    background: linear-gradient(120deg, #f3f4f6, #e3e4e8);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Stile della barra di navigazione */
.navbar {
    background: linear-gradient(90deg, #ff6f00, #ffb74d); /* Sfuma dall'arancio scuro all'arancio chiaro */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar h2 {
    margin: 0;
    font-size: 24pt;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Stile del pulsante di logout */
.btn-logout {
    font-size: 16pt;
    padding: 10px 20px;
    background-color: #c0392b; /* Bordeaux */
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-logout:hover {
    background-color: #a8322b; /* Bordeaux più scuro */
    transform: scale(1.05);
}

/* Stile del titolo della lista dei corsi */
h3 {
    font-size: 20pt;
    color: #ff6f00; /* Arancio */
    margin-left: 20px;
}

/* Stile della tabella */
.tbl {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 16pt;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.tbl th, .tbl td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tbl th {
    background-color: #ff6f00; /* Arancio vivace */
    color: white; /* Testo bianco */
    font-weight: bold;
    border: 1px solid #ff9900; /* Bordo arancione chiaro */
    text-align: center;
    text-transform: uppercase; /* Maiuscolo per maggiore enfasi */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Leggera ombra sul testo */
}

.tbl tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.tbl tr:nth-child(even) {
    background-color: #fff;
}

.tbl tr:hover {
    background-color: #f1f1f1;
}

/* Stile del pulsante di dettaglio del corso */
.tbl button {
    background-color: #e73c29; /* Rosso pastello scuro */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-flex; /* Per centrare l'icona */
    align-items: center; /* Centra l'icona verticalmente */
    justify-content: center; /* Centra l'icona orizzontalmente */
}

.tbl button:hover {
    background-color: #ffa000; /* Arancio pastello più scuro */
    transform: scale(1.05);
}

.tbl button svg {
    fill: white; /* Colore dell'icona */
}

nav img {
    height: 75px;
    width: 90px;
    position: absolute;
    left: 20px;
    margin-left: 20px;
}
