body {
    background: linear-gradient(120deg, #f3f4f6, #e3e4e8);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Stile del titolo principale */
h2 {
    font-size: 24pt;
    color: #3498db;
    text-align: center;
    margin-top: 20px;
}

/* Stile del contenitore principale */
.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Stile per le sezioni interne */
.children {
    width: 45%;
}

/* Stile dei titoli delle sezioni */
.children h3 {
    font-size: 20pt;
    color: #3498db;
    margin-bottom: 15px;
    border-bottom: 2px solid #e3e4e8;
    padding-bottom: 5px;
}

/* Stile della tabella */
.tbl {
    width: 100%;
    border-collapse: collapse;
    font-size: 16pt;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.tbl th, .tbl td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tbl th {
    background-color: #f3f3f3;
    font-weight: bold;
}

.tbl tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.tbl tr:nth-child(even) {
    background-color: #fff;
}

.tbl tr:hover {
    background-color: #f1f1f1;
}


.toggle-btn {
    background-color: #3498db; /* Colore di sfondo del pulsante */
    color: white; /* Colore del testo del pulsante */
    border: none;
    border-radius: 5px; /* Angoli arrotondati */
    padding: 10px 20px; /* Spaziatura interna */
    cursor: pointer; /* Icona del mouse a forma di mano */
    font-size: 16pt;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle-btn:hover {
    background-color: #2980b9; /* Colore blu scuro al passaggio del mouse */
    transform: scale(1.05);
}

.scheda-container {
    margin-top: 10px;
}

