<!DOCTYPE html>
<head>
    <title>Area Istruttore</title>
    <link rel="stylesheet" href="css/areaIstruttore.css">
</head>
<body>
    <nav class="navbar">
        <div>
            <h2>Ciao <span th:text="|${persona.nome} ${persona.cognome}|"></span>, benvenuto nell'area istruttore</h2>
        </div>
        <div>
            <a href="/logout"><button class="btn-logout">Logout</button></a>
        </div>
    </nav>
    <hr>
    <h3>Lista corsi che tieni</h3>
    <table class="tbl">
        <thead>
            <tr>
                <th>Nome corso</th>
                <th>Dettagli</th>
            </tr>
        </thead>
        <tbody>
            <!-- Per accedere dalla session: <tr th:each="classe : ${session.persona.corsi}"> -->
            <tr th:each="corso : ${persona.corsi}">
                <td th:text="${corso.nome}"></td>
                <td>
                    <a th:href="|/corso?id=${corso.id}|">
                        <button>
                            <!-- Dettaglio corso -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>