<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Area Cliente</title>
    <link th:href="@{/css/areaCliente.css}" rel="stylesheet" >
    <script>
        function toggleScheda(button) {
            var schedaContainer = button.nextElementSibling;
            if (schedaContainer.style.display === "none") {
                schedaContainer.style.display = "block";
                button.textContent = "Nascondi scheda";
            } else {
                schedaContainer.style.display = "none";
                button.textContent = "Mostra scheda";
            }
        }

        function toggleConsigliata(button) {
    var schedaContainer = button.parentNode.nextElementSibling;
    if (schedaContainer.style.display === "none") {
        schedaContainer.style.display = "block";
        button.value = "Nascondi scheda consigliata";
    } else {
        schedaContainer.style.display = "none";
        button.value = "Mostra scheda consigliata";
    }
}

        function toggleUpdateUsernameAndPasssword() {
            var modal = document.getElementById('update-user-pass-modal');
            if (modal.style.display === "none" || modal.style.display === "") {
                modal.style.display = "block";
            } else {
                modal.style.display = "none";
            }
        }
        
    </script>
</head>
<body>
    <nav class="navbar">
        <div>
            <img src="multimediale/logopng.png" alt="Logo Menu">
            <div class="menu-links">
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ciao <span th:text="|${persona.nome} ${persona.cognome}|"></span>, benvenuto nell'area cliente</h2>
        </div>
        
    </nav>
    <div class="container">
        <h3>Il tuo piano abbonamento è: <span th:text="${persona.pianoAbbonamento.nome}"></span></h3>

        <div class="scheda-container" >
            <table class="tbl">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Età</th>
                        <th>Peso</th>
                        <th>Altezza</th>
                        <th>Obiettivo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${persona.nome}"></td>
                        <td th:text="${persona.cognome}"></td>
                        <td th:text="${persona.id}"></td>
                        <td th:text="${persona.username}"></td>
                        <td th:text="${persona.eta}"></td>
                        <td th:text="${persona.peso}"></td>
                        <td th:text="${persona.altezza}"></td>
                        <td th:text="${persona.obiettivo}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button class="toggle-btn" onclick="toggleScheda(this)">Mostra Scheda</button>
        <div class="scheda-container" style="display: none;">
            <table>
                <thead>
                    <tr>
                        <th>Scheda</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="serie-header"><strong>Serie 1</strong></td>
                    </tr>
                    <tr th:each="esercizio : ${persona.scheda}">
                        <td th:text="${esercizio.ese1}"></td>
                    </tr>
                    <tr th:each="esercizio : ${persona.scheda}">
                        <td th:text="${esercizio.ese2}"></td>
                    </tr>
                    <tr th:each="esercizio : ${persona.scheda}">
                        <td th:text="${esercizio.ese3}"></td>
                    </tr>
                    <tr>
                        <td class="serie-header"><strong>Serie 2</strong></td>
                    </tr>
                    <tr th:each="esercizio : ${persona.scheda}">
                        <td th:text="${esercizio.ese4}"></td>
                    </tr>
                    <tr th:each="esercizio : ${persona.scheda}">
                        <td th:text="${esercizio.ese5}"></td>
                    </tr>
                    <tr th:each="esercizio : ${persona.scheda}">
                        <td th:text="${esercizio.ese6}"></td>
                    </tr>
                    <tr>
                        <td class="serie-header"><strong>Serie 3</strong></td>
                    </tr>
                    <tr th:each="esercizio : ${persona.scheda}">
                        <td th:text="${esercizio.ese7}"></td>
                    </tr>
                    <tr th:each="esercizio : ${persona.scheda}">
                        <td th:text="${esercizio.ese8}"></td>
                    </tr>
                    <tr th:each="esercizio : ${persona.scheda}">
                        <td th:text="${esercizio.ese9}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a th:href="|/consigliata/${persona.id}|" style="display: inline;">
            <input type="button" class="toggle-btn" value="Mostra scheda consigliata">
        </a>
        <div class="scheda-container" th:if="${scheda} != null">
            <table>
                <thead>
                    <tr>
                        <th>Scheda Consigliata</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="serie-header"><strong>Serie 1</strong></td>
                    </tr>
                    <tr th:each="esercizio : ${scheda}">
                        <td th:text="${esercizio.ese1}"></td>
                    </tr>
                    <tr th:each="esercizio : ${scheda}">
                        <td th:text="${esercizio.ese2}"></td>
                    </tr>
                    <tr th:each="esercizio : ${scheda}">
                        <td th:text="${esercizio.ese3}"></td>
                    </tr>
                    <tr>
                        <td class="serie-header"><strong>Serie 2</strong></td>
                    </tr>
                    <tr th:each="esercizio : ${scheda}">
                        <td th:text="${esercizio.ese4}"></td>
                    </tr>
                    <tr th:each="esercizio : ${scheda}">
                        <td th:text="${esercizio.ese5}"></td>
                    </tr>
                    <tr th:each="esercizio : ${scheda}">
                        <td th:text="${esercizio.ese6}"></td>
                    </tr>
                    <tr>
                        <td class="serie-header"><strong>Serie 3</strong></td>
                    </tr>
                    <tr th:each="esercizio : ${scheda}">
                        <td th:text="${esercizio.ese7}"></td>
                    </tr>
                    <tr th:each="esercizio : ${scheda}">
                        <td th:text="${esercizio.ese8}"></td>
                    </tr>
                    <tr th:each="esercizio : ${scheda}">
                        <td th:text="${esercizio.ese9}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div> <button class="toggle-btn" onclick="toggleUpdateUsernameAndPasssword()">Cambia password</button></div>
        <div id="update-user-pass-modal" class="modal-form" style="display: none;">
            <form action="/cliente/updateUser" method="post">
                <table>
                    <input type="hidden" name="id" id="idCliente" th:value="${persona.id}">
                    <tr>
                        <td><label for="username">Username</label></td>
                        <td><input type="text" name="username" id="username" required></td>
                    </tr>
                    <tr>
                        <td><label for="old-password">Vecchia Password</label></td>
                        <td><input type="password" name="old-password" id="old-password" required></td>
                    </tr>
                    <tr>
                        <td><label for="new-password">Nuova Password</label></td>
                        <td><input type="password" name="new-password" id="new-password" required></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input style="width: 100%;" type="submit" value="Modifica"></td>
                    </tr>
                </table>
            </form>
        </div>

        <div id="message-modal" th:if="${message} != null">
            <button onclick="document.querySelector('#message-modal').style.display='none'">Chiudi</button>
            <hr>
            <p th:text="${message}"></p>
        </div>

        <div class="logout-container">
            <a href="/logout"><button class="logout-btn">Logout</button></a>
        </div>
    </div>
</body>
</html>

