<!DOCTYPE html>
<head>
    <title>Dettaglio Corso</title>
    <link rel="stylesheet" href="css/dettaglioPiano.css">
</head>
<body>
    <h2><span th:text="${corso.nome}"></span></h2>
    <div class="container">
        <div class="children" id="clienti-block">
            <h3>Clienti che possono accedere al corso:</h3>

            <!-- Per esempio se inseriamo le credenziali "ffontana, password13" 
                 e scegliendo "corso di nuoto", visualizzeremo tutti i clienti che possono accedere
                 a questo corso: quindi i clienti con il pianoabbonamento plus e i clienti con
                 pianoabbonamento premium, per un totale di 9 clienti -->
            <table class="tbl">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cognome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${listaClienti}">
                        <td th:text="${cliente.nome}"></td>
                        <td th:text="${cliente.cognome}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>