<!DOCTYPE html>
<head>
    <title>Palestra</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="main-div">
        <div class="login-form">
            <form action="/login" method="post">
                <table>
                    <tr>
                        <td><label for="username">Username:</label></td>
                        <td><input type="text" name="username" id="username"></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password:</label></td>
                        <td><input type="password" name="password" id="password"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Esegui login"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div id="message-modal" th:if="${message} != null">
        <button onclick="document.querySelector('#message-modal').hidden=true">Chiudi</button>
        <hr>
        <p th:text="${message}"></p>
    </div>
</body>
</html>